<%= div_for(comment, class: 'clearfix') do %>
  <%= comment.text %>
  <div>
    <span class="comment-date"><i class="icon-time"></i>
      <%= time_ago_in_words(comment.created_at) %> ago by <em><%= comment.user.user_name %></em>

      - <%= link_to('Delete', question_comment_path(commentable, comment), class: 'blue-link small-link', method: :delete,
                    remote: true) if owner?(object: comment) %>
    </span>
  </div>
<% end %>
