<%= render 'shared/error_messages', object: @answer if @answer.errors.any? %>

<%= form_for([@question, @answer]) do |form| %>
  <div id="respond-textarea">
    <p>
    <label class="required" for="answer_text">Text<span>*</span></label>
    <%= form.text_area :text, rows: 8, cols: 58 %>
    </p>
  </div>
  <div>
    ** We currently use BBCode. See the <%= link_to 'reference', 'http://www.bbcode.org/reference.php', class: 'blue-link', target: '_blank' %> for available tags
  </div>
  <p class="form-submit">
    <%= form.submit class: 'button small color' %>
  </p>
<% end %>
