<div class="login">
  <div class="row">
    <div class="col-md-6">
      <div class="page-content">
        <h2>Login</h2>
        <div class="form-style form-style-3">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs clearfix">
              <p class="login-text">
                <%= f.email_field :email, autofocus: true, placeholder: "Email" %>
              <i class="icon-user"></i>
              </p>
              <p class="login-password">
                <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
                <i class="icon-lock"></i>
              </p>
            </div>
            <p class="form-submit login-submit">
              <%= f.submit "Log in", class: "button color small login-submit submit" %>
            </p>
            <div class="rememberme">
              <label><%= f.check_box :remember_me %> Remember Me</label>
            </div>
          <% end %>
        </div>
      </div><!-- End page-content -->
    </div><!-- End col-md-6 -->
    <div class="col-md-6">
      <div class="page-content">
        <h2>Register Now</h2>
        <p>Use the link below if you don't have any account yet</p>
        <%= link_to "Sign up", new_registration_path(resource_name), class: "button small color" %>
      </div><!-- End page-content -->
    </div><!-- End col-md-6 -->
  </div><!-- End row -->
</div><!-- End login -->
