<!DOCTYPE html>
<html>
<head>
  <title>SkyStack</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap" class="grid_1200">

    <header id="header">
      <section class="container clearfix">
        <!-- <div class="logo">Sky Stack</a></div> -->
      </section><!-- End container -->
    </header><!-- End header -->

    <section class="container main-content">
      <%= link_to('Logout', destroy_user_session_path, method: :delete) if user_signed_in? %>

      <%= render 'shared/flash_messages' %>

      <%= yield %>
    </section><!-- End container -->

    <footer id="footer">
      <section class="container">
        <div class="copyrights f_left">Sky Stack 2015</a></div>
      </section><!-- End container -->
    </footer><!-- End footer-bottom -->
  </div><!-- End wrap -->

  <div class="go-up"><i class="icon-chevron-up"></i></div>
</body>
</html>
